* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: black;
  box-shadow: 2px 2px 5px inset white;
  font-family: Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

p {
  color: gray;
}

/* Navbar Section */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 2px 2px 5px inset white;
}

.logo-section {
  flex: 20%;
  /* border: 2px solid whitesmoke; */
  text-align: center;
}

.logo-section img {
  width: 100px;
  height: 100px;
}

.menu-section {
  flex: 60%;
  box-shadow: 2px 2px 5px inset white;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  text-align: center;
}

ul li {
  display: inline;
  padding: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
}

.c-section {
  flex: 20%;
  box-shadow: 2px 2px 5px inset white;
}

/* Second Section */

.second-section {
  width: 100%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  color: white;
  background-color: rgb(91, 89, 89);
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 5px inset white;
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 5em;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px #f2eded;
  -webkit-text-stroke-width: 2px;
}

/* Third Section */

.third-section {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  color: white;
  margin-top: 6%;
  padding: 5%;
  font-family: Inter, sans-serif;
}

.third-section h3 {
  font-size: 40px;
}

.third-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5px;
}

.third-links p {
  flex: 40%;
  margin: 10px;
  font-size: 17px;
}

.third-links ul {
  flex: 50%;
  text-align: center;
  margin: 9px;
}

.third-links ul li {
  padding: 7px;
}

.third-container {
  flex: 50%;
  padding: 10px;
}

form {
  width: 80%;
  margin: auto;
}

input {
  width: 100%;
  background: transparent;
  color: white;
  padding: 20px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid white;
  font-size: 15px;
}

textarea {
  width: 100%;
  background: transparent;
  color: white;
  padding: 20px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid white;
  font-size: 15px;
}

button {
  width: 50%;
  background: transparent;
  color: white;
  padding: 20px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid white;
  font-size: 15px;
}

/* Fourth Section */

.fourth-section {
  width: 100%;
  display: inline-block;
  height: auto;
  padding: 10px;
  font-size: 15px;
  /* box-shadow: 2px 2px 5px inset white; */
  border-top: none;
}

.fourth-section > div {
  line-height: 40px;
  width: 90%;
  margin: auto;
}

/* Footer Section */

footer {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px inset white;
}

.footer-container {
  flex: 70%;
  padding: 20px;
}

.footer-container h3 {
  font-size: 15px;
}

.footer-container p {
  font-size: 18px;
  color: gray;
  margin-top: 7px;
}

.line {
  display: inline-block;
  margin: 5px;
}

.footer-container a {
  text-decoration: none;
}

.footer-container a p {
  font-size: 15px;
  color: white;
}

.footer-container .line:hover {
  box-shadow: 2px 2px 5px inset white;
}

.footer-container1 {
  flex: 30%;
  padding: 20px;
}

.footer-container1 p {
  color: gray;
}

.f-one {
  display: inline-block;
  padding: 5px;
  text-align: justify;
}

.f-one h4,
p {
  padding: 10px;
}

.h5 {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(84, 82, 82);
  color: rgb(20, 20, 20);
  font-weight: bold;
  font-size: 18px;
  box-shadow: 2px 2px 5px inset white;
  border-top: none;
}

/* Responsiveness */

@media (max-width:800px) {
  .second-section{
    position: absolute;
    top: 35%;
    /* margin-top: 25%; */
  }

  .third-section{
    position: relative;
    margin-top: 25%;
  }

  .third-links p{
    flex: 100%;
    margin: 0%;
  }

  .third-links ul{
    padding: 0%;
  }

  .third-links ul li{
    margin: 20px;
    text-align: center;
  }

  .third-container iframe{
    width: 300px;
    height: auto;
    margin: auto;
  }

  button{
    width: 80%;
    font-size: medium;
  }

  .fourth-section{
    flex: 100%;
  }

  .fourth-section > div{
    margin: auto;
    width: 70%;
  }
}
