@media (max-width: 800px) {
  .body{
    flex: 100%;
    font-size: .9vw;
  }

  li{
    margin: 4px;
  }

  .home-info,.home-img{
    flex: 100%;
    font-size: 5vw;
  }

  .h-one .box {
    background-color: grey;
    width: 150px;
    height: 20px;
    margin: 20px;
    position: relative;
    animation-name: one;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes one {
    from {
      width: 150px;
    }
    to {
      width: 240px;
    }
  }

  .about-section, h3, p{
    flex: 100%;
  }

  .blog-section h2 {
    position: absolute;
    top: 316%;
    /* left: 50%; */
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
    margin: 20px;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 6em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
  }

  .btn1, .btn2{
    margin: 0;
  }

  .card {
    margin-top: 28%;
  }
  .card .blog-card {
    flex: 100%;
    border: 2px solid white;
  }
  .card-s {
    margin-top: 0%;
  }

  .process-section,
  h2 {
    margin-top: 1050%;
    font-size: 14.5px;
    text-align: center;
  }

  .process-section,
  .flex-container {
    /* margin-top: 600%; */
    margin: 0;
  }

  .flex1{
    margin-top: 30%;
  }

  .flex {
    flex: 100%;
  }

  .service-section{
    width: 100%;
    margin: 0;
  }

  .service-section h2{
    /* margin-top: 1335%; */
    font-size: 60px;
    text-align: center;
    box-shadow: none;
  }

  .service1, .service2, .service3{
    flex: 100%;
  }

  .c-one{
    padding: 5px;
  }
}