@media (max-width: 62em) {
  .header {
    position: relative;
    width: 100%;
  }

  .header img {
    width: 55%;
  }

  .logo-container {
    flex: 30%;
    text-align: left;
    box-shadow: none;
  }

  .navbar {
    width: 100%;
    height: auto;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: none;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid black;
    color: black;
    margin: 10% auto;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
  }

  .contact-container {
    box-shadow: none;
  }

  .contact-container ul {
    margin-top: 0%;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* Home Section */
  .btn1,
  .btn2 {
    margin: 3%;
  }

  /* About section */
  .about-section h3,
  p {
    flex: 100%;
    text-align: justify;
  }

  /* Process Section */
  .process-section {
    padding: 5px;
  }

  h2 {
    font-size: 20%;
  }

  .flex {
    flex: 100%;
  }

  /* Service Section */
  .service {
    flex: 100%;
  }
}

@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 50%;
  }
}
