* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: black;
  /* border: 5px solid whitesmoke; */
  font-family: Inter, sans-serif;
  box-shadow: 2px 2px 5px inset white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

p {
  color: gray;
}

/* Navbar Section */
.header {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  text-decoration: none;
}

.logo-container {
  flex: 30%;
  text-align: center;
  box-shadow: 2px 2px 5px inset white;
}

.logo-container img {
  width: 30%;
}

.navbar {
  flex: 70%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px inset white;
}

.link-container {
  flex: 70%;
}

.navbar-list,
.navbar-links {
  display: flex;
  padding: 10px;
  color: white;
  font-size: 18px;
  justify-content: center;
  text-decoration: none;
}

.navbar-list {
  margin: 40px auto;
}

.navbar-list li {
  list-style: none;
}

.contact-container {
  flex: 30%;
  box-shadow: 2px 2px 5px inset white;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: white;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* Second Section */

.second-section {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2%;
  left: 50%;
  text-align: center;
  color: white;
  background-color: rgb(91, 89, 89);
  transform: translate(-50%, -50%);
  border: 5px solid whitesmoke;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 5em;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px #f2eded;
  -webkit-text-stroke-width: 2px;
  box-shadow: 2px 2px 8px inset #f2eded;
}

/* Third Section */

.third-section {
  width: 100%;
  height: auto;
  color: white;
  padding: 50px;
  box-shadow: 2px 2px 8px inset #f2eded;
  /* position: relative; */
  /* position: absolute; */
}

.third-section h3 {
  font-size: 35px;
}

.third-section p {
  color: gray;
  line-height: 30px;
  margin-top: 5px;
  width: 60%;
}

/* Service Section */

.service-section {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  border: 2px solid whitesmoke;
  box-shadow: 2px 2px 8px inset #f2eded;
  padding: 20px;
  background-color: black;
}

.service-section,
.card {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  /* border: 2px solid white; */
  /* margin-top: 6.6%; */
  width: 100%;
  position: relative;
}

.card .service-card {
  flex: 33%;
  border: 2px solid white;
}

/* .card-img img {
  width: 100%;
  height: auto;
  border: 2px solid white;
} */

.card-content {
  padding: 30px;
}

.card-content h3 {
  color: white;
  font-size: 30px;
}

.card-content p {
  color: gray;
  margin-top: 20px;
  line-height: 30px;
}

.card-content button {
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  color: white;
}

.card-s {
  margin-top: 0%;
}

/* Footer */

footer {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
}

.footer-container {
  flex: 70%;
  padding: 20px;
}

.footer-container h3 {
  font-size: 15px;
}

.footer-container p {
  font-size: 18px;
  color: gray;
  margin-top: 7px;
}

.line {
  display: inline-block;
  margin: 5px;
}

.footer-container a {
  text-decoration: none;
}

.footer-container a p {
  font-size: 15px;
  color: white;
}

.footer-container .line:hover {
  border-bottom: 2px solid white;
}

.footer-container1 {
  flex: 30%;
  padding: 20px;
}

.footer-container1 p {
  color: gray;
}

.f-one {
  display: inline-block;
  padding: 5px;
  text-align: justify;
}

.f-one h5,
p {
  padding: 5px;
}

.h5 {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: gray;
  color: rgb(20, 20, 20);
  font-weight: bold;
}

/* Responsiveness */

@media (max-width: 800px) {
  .header {
    position: relative;
    width: 100%;
  }

  .header img {
    width: 55%;
  }

  .logo-container {
    flex: 30%;
    text-align: left;
    box-shadow: none;
  }

  .navbar {
    width: 100%;
    height: auto;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: none;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid black;
    color: black;
    margin: 10% auto;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
  }

  .contact-container {
    box-shadow: none;
  }

  .contact-container ul {
    margin-top: 0%;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .second-section {
    margin-top: 15%;
  }

  .third-section {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: 50%;
  }

  .third-section p {
    width: 100%;
  }
}
